/* General Styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background-color: #333;
    color: white;
    padding: 10px 0;
    text-align: center;
}

header h1 {
    margin: 0;
}

nav ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin: 0 10px;
    position: relative;
}

nav ul li a {
    color: white;
    text-decoration: none;
    padding: 10px;
    display: block;
}

nav ul li a:hover {
    background-color: #555;
}

nav ul li ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #333;
    display: none;
}

nav ul li:hover ul {
    display: block;
}

nav ul li ul li {
    width: 200px;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    width: 100%;
    bottom: 0;
}

main {
    padding: 20px;
    text-align: center;
}

h2 {
    text-align: center;
}

.form-group {
    margin: 20px 0;
}

label {
    display: block;
    margin-bottom: 5px;
}

input[type="email"], input[type="password"] {
    width: 30%;
    padding: 10px;
    margin-bottom: 10px;
    border: 3px solid #ddd;
    border-color: black;
    border-radius: 4px;
    color: black;
    background-color: #b2bbc3;
}

button {
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
    margin-top: 20px;
}

button:hover {
    background-color: #0056b3;
}
